.navbar {
    height: 96px;
    display: flex;
    padding: 35px 20px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navbar-items {
    display: flex;
}

.navbar-search {
    /* display: flex; */
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1;
}

.navbar-search input {
    margin: 5px 10px;
    width: 350px;
    height: 20px;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 30px;
    font-size: 16px;
    color: purple;
    outline: none;
    transition: border-color 0.3s ease;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navbar-search button {
    background-color: purple;
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar-icons img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-links a {
    color: purple;
    text-decoration: none;
    font-family: Courier, monospace;
    cursor: pointer;
    margin: 5px 20px;
  }

  .navbar-links a:hover {
    text-decoration: underline;
  }